:root {
  --en-font-primary: Merriweather;
  --font-primary: EGGIndulekhaUni;
  --font-secondary: PanchariUni;
  --basic-heading-fonts-pack: var(--en-font-primary), var(--font-primary), Arial, Helvetica, sans-serif;
  --basic-fonts-pack: Arial, var(--font-secondary), var(--font-primary), var(--en-font-primary), Helvetica, sans-serif;
  --font-weight-regular: normal;
  --font-weight-bold: bold
  --text-color-default: #333333;
  --text-color-default-hover: #000000;
  --text-color-muted: #A2A2A2;
  --text-color-muted-hover: #555555;
  --text-color-caption: #999999;
  --link-color-default: #333333;
  --link-color-hover: #BD1877;
  --tab-link-color: #3366CC;
  --breadcrumb-default-color: var(--text-color-default);
  --breadcrumb-hover-color: #BD1877;
  --breadcrumb-active-color: #8B8B8B;
  --breadcrumb-divider-color: #999999;
  --border-color: #F3F3F3;
  --border-color-lite: #ededed;
  --border-color-white: #ffffff;
  --border-color-dark: #333;
  --ext-menu-bg: #f9f9f9;
  --theme-black-bg: #111111;
  --highlight-bg: #fff5fb;
  --overlay-bg: #232323;
  --overlay-side-bg: #1c1c1c;
  --primary-color: #BD1877;
  --primary-color-hover: #a61569;
  --secondary-color: #444444;
  --secondary-color-hover: #373737;
  --info-color: #45bcc0;
  --info-color-hover: #3cacb0;
  --success-color: #0dcf97;
  --success-color-hover: #0bb785;
  --warning-color: #FF903B;
  --warning-color-hover: #ff8221;
  --danger-color: #E20000;
  --danger-color-hover: #c90000;
  --white-color: #ffffff;
  --white-color-hover: #f2f2f2;
  --dark-color: #111111;
  --dark-color-hover: #000000;
  --light-color: #F3F3F3;
  --light-color-hover: #e6e6e6;
}

html {
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
  scroll-behavior: smooth;
  box-sizing: border-box;
  -ms-overflow-style: scrollbar;
}

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
main {
  display: block;
}

header{
  min-height: 214px;
}

a {
  background-color: transparent;
}

img,
picture img {
  border-style: none;
  max-width: 100%;
  outline: none;
  display: block;
  height: auto;
  image-rendering: -webkit-optimize-contrast;
}

button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button,
input {
  overflow: visible;
}

button,
select {
  text-transform: none;
}

button,
[type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
  appearance: button;
}

ol,
ul {
  list-style: none;
}

body {
  overflow: hidden;
  overflow-y: auto;
}

html {
  font-size: 16px;
}

body {
  font-family: var(--en-font-primary);
  font-size: 16px;
  line-height: 19.2px;
  letter-spacing: normal;
  font-style: normal;
}

p {
  font-family: inherit;
  font-size: 16px;
  line-height: 1.4;
  font-family: var(--font-primary);
  font-weight: var(--font-weight-regular);
  margin: 0;
  color: var(--text-color-default);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--en-font-primary);
  font-weight: var(--font-weight-bold);
  color: var(--dark-color);
}

h2,
.h2 {
  font-size: 33.18px;
  line-height: 39.816px;
  letter-spacing: normal;
  font-style: normal;
}

h3,
.h3 {
  font-size: 27.65px;
  line-height: 33.18px;
  letter-spacing: normal;
  font-style: normal;
}

h4,
.h4 {
  font-size: 23.04px;
  line-height: 27.648px;
  letter-spacing: normal;
  font-style: normal;
}

/* adv block start */
.advtBlock__title,
.advtBlock__footer,
.advtBlock__content,
.advtBlock__img {
  text-align: center;
}
.advtBlock__title img,
.advtBlock__footer img,
.advtBlock__content img,
.advtBlock__img img {
  object-fit: contain;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  max-width: 100%;
  flex: auto;
}
.advtBlock__title picture,
.advtBlock__footer picture,
.advtBlock__content picture,
.advtBlock__img picture {
  display: inline-block;
}

.advtBlock__content div[data-google-query-id] {
  min-height: 280px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  overflow-x: auto;
}
.advtBlock__content div[data-google-query-id] > div, .advtBlock__content div[data-google-query-id] > iframe {
  display: inline-block;
}
@media only screen and (min-width: 576px) {
  .advtBlock__content div[data-google-query-id] {
    min-height: 90px;
  }
  .advtBlock__content div[data-google-query-id]#header1-ad {
    min-height: 90px;
  }
}

.advtBlock__title,
.advtBlock__footer {
  font-size: 11px;
  line-height: 13.2px;
  letter-spacing: normal;
  font-style: normal;
  font-family: var(--en-font-primary);
  color: var(--text-color-default);
  margin-bottom: 5px;
  text-align: center;
}
.advtBlock__title a,
.advtBlock__footer a {
  color: var(--text-color-default);
  text-decoration: none;
}

.advtBlock__footer {
  margin-bottom: 0;
  margin-top: 5px;
}

.comp-ad {
  min-height: 90px;
  background-color: var(--light-color);
}

/* adv block start */
.cmp-megamenu__navigation,
.hamburgermenu {
  display: none;
}

.top-advt-block {
  padding-top: 20px;
  padding-bottom: 20px;
}
.top-advt-block .advtBlock .advtBlock__in .advtBlock__content {
  min-height: 280px;
}
@media only screen and (min-width: 576px) {
  .top-advt-block .advtBlock .advtBlock__in .advtBlock__content {
    min-height: 90px;
  }
}

/* header start */
.cmp-header {
  position: relative;
  /* header top end */
  /* header__main end */
}
.cmp-header .header--message {
  display: none;
  text-align: center;
}
@media only screen and (min-width: 768px) {
  .cmp-header .header--message {
    display: block;
  }
}
.cmp-header__top {
  position: relative;
  border-bottom: 1px solid var(--border-color);
  padding: 10px 0;
}
.cmp-header-top__in {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin-left: -15px;
  margin-right: -15px;
}
.cmp-header-top__item {
  padding-left: 15px;
  padding-right: 15px;
}
.cmp-header-top__item:nth-child(1), .cmp-header-top__item:nth-child(3) {
  flex: 1 1 calc(100% / 2);
  width: calc(100% / 2);
  max-width: calc(100% / 2);
}
.cmp-header-top__item.header--message {
  flex: 1 1 100%;
  width: 100%;
  max-width: 100%;
}
@media only screen and (min-width: 768px) {
  .cmp-header-top__item.header--message {
    flex: 1 1 calc(100% / 2);
    width: calc(100% / 2);
    max-width: calc(100% / 2);
  }
  .cmp-header-top__item:nth-child(1), .cmp-header-top__item:nth-child(3) {
    flex: 1 1 calc(100% / 4);
    width: calc(100% / 4);
    max-width: calc(100% / 4);
  }
}
@media only screen and (min-width: 1200px) {
  .cmp-header-top__item:nth-child(1), .cmp-header-top__item:nth-child(3) {
    flex: 1 1 16.66666667%;
    width: 16.66666667%;
    max-width: 16.66666667%;
  }
  .cmp-header-top__item.header--message {
    flex: 1 1 66.66666667%;
    width: 66.66666667%;
    max-width: 66.66666667%;
  }
}
.cmp-header .cmp-social-media__nav {
  display: flex;
  margin: 0 -5px;
}
.cmp-header .cmp-social-media__item {
  padding-left: 5px;
  padding-right: 5px;
}
.cmp-header .cmp-social-media__link {
  width: 30px;
  height: 30px;
  display: block;
}
.cmp-header .cmp-social-media__link.with-icon {
  background-image: url("../../icons/icons.svg");
  background-repeat: no-repeat;
  font-size: 0px;
  line-height: 0px;
  letter-spacing: normal;
  font-style: normal;
}
.cmp-header .cmp-social-media__link.with-icon.facebook {
  background-position: 0px -144px;
}
.cmp-header .cmp-social-media__link.with-icon.instagram {
  background-position: -35px -144px;
}
.cmp-header .cmp-social-media__link.with-icon.youtube {
  background-position: -70px -144px;
}
.cmp-header .cmp-social-media__link.with-icon.twitter {
  background-position: -105px -144px;
}
.cmp-header__messages {
  display: inline-flex;
  align-items: center;
}
.cmp-header__badge {
  padding: 3px 8px;
  font-size: 11px;
  line-height: 13.2px;
  letter-spacing: normal;
  font-style: normal;
  background-color: var(--warning-color);
  color: var(--white-color);
  -webkit-border-radius: 5px;
  border-radius: 5px;
  background-clip: padding-box;
  /* stops bg color from leaking outside the border: */
}
.cmp-header__badge + p {
  font-family: var(--en-font-primary);
  font-size: 13px;
  line-height: 15.6px;
  letter-spacing: normal;
  font-style: normal;
  padding-left: 10px;
}
.cmp-header__navbartop {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-left: -10px;
  margin-right: -10px;
}
.cmp-header__navbartop .cmp-navbartop__link {
  font-size: 14px;
  line-height: 16.8px;
  letter-spacing: normal;
  font-style: normal;
  color: var(--primary-color);
  text-decoration: none;
  display: block;
}
.cmp-header__navbartop .cmp-navbartop__link.icon--search {
  width: 24px;
  height: 24px;
  font-size: 0px;
  line-height: 0px;
  letter-spacing: normal;
  font-style: normal;
  background-image: url("../../icons/icons.svg");
  background-repeat: no-repeat;
  background-position: -245px 0px;
}
.cmp-header__navbartop .cmp-navbartop__item {
  padding-left: 10px;
  padding-right: 10px;
}
.cmp-header__navbartop .cmp-navbartop__item .logged-in__user {
  position: relative;
  padding-left: 25px;
  padding-right: 24px;
  display: flex;
  align-items: center;
  min-height: 30px;
}
.cmp-header__navbartop .cmp-navbartop__item .logged-in__user .user-thump {
  position: absolute;
  left: 0;
  top: 0;
  display: block;
}
.cmp-header__navbartop .cmp-navbartop__item .logged-in__user .user-thump .user-has__image {
  display: block;
  width: 28px;
  height: 28px;
  -webkit-border-radius: 28px;
  border-radius: 28px;
  background-clip: padding-box;
  /* stops bg color from leaking outside the border: */
}
.cmp-header__navbartop .cmp-navbartop__item .logged-in__user .user-thump .user-has__image img {
  width: 28px;
  height: 28px;
  border: 0;
  object-fit: cover;
  object-position: center;
  -webkit-border-radius: 28px;
  border-radius: 28px;
  background-clip: padding-box;
  /* stops bg color from leaking outside the border: */
}
.cmp-header__navbartop .cmp-navbartop__item .logged-in__user .logged-in__user-text {
  display: none;
}
.cmp-header__navbartop .cmp-navbartop__item .logged-in__user:after {
  position: absolute;
  right: -5px;
  top: 0;
  content: "";
  width: 30px;
  height: 30px;
  background-image: url("../../icons/icons.svg");
  background-repeat: no-repeat;
  background-position: -560px -35px;
}
@media only screen and (min-width: 576px) {
  .cmp-header__navbartop .cmp-navbartop__item .logged-in__user {
    padding-left: 38px;
  }
  .cmp-header__navbartop .cmp-navbartop__item .logged-in__user .logged-in__user-text {
    font-size: 12px;
    line-height: 14.4px;
    letter-spacing: normal;
    font-style: normal;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    max-width: 100px;
    display: block;
  }
}
.cmp-header__navbartop .cmp-navbartop__item .user-account__submenu {
  display: none;
}
.cmp-header__navbartop .cmp-navbartop__item:not(:last-child) {
  border-right: 1px solid var(--border-color);
}
.cmp-header .cmp-search-module {
  display: none;
}
.cmp-header__logo {
  position: relative;
  text-align: center;
  padding-bottom: 20px;
}
.cmp-header__logo a {
  display: inline-block;
}
.cmp-header__logo img {
  object-fit: contain;
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
}
@media screen and (min-width: 570px) {
  .cmp-header__logo img {
    max-width: 220px;
  }
}
.cmp-header__options {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  text-align: center;
}
.cmp-header__options .cmp-options__item {
  position: relative;
  font-size: 14px;
  line-height: 16.8px;
  letter-spacing: normal;
  font-style: normal;
  color: var(--text-color-muted);
  display: block;
  text-decoration: none;
}
.cmp-header__options .cmp-options__item:not(:last-child) {
  padding-right: 5px;
  margin-right: 6px;
}
.cmp-header__options .cmp-options__item:not(:last-child)::after {
  content: "|";
  position: absolute;
  display: block;
  right: -3px;
  top: 1px;
  font-size: 12px;
  line-height: 14.4px;
  letter-spacing: normal;
  font-style: normal;
  color: var(--text-color-muted);
}
.cmp-header__navbartop {
  display: flex;
  justify-content: flex-end;
}
.cmp-header__navbartop .cmp-navbartop__item {
  position: relative;
}
.cmp-header__navbartop .cmp-navbartop__item .cmp-header-dropdown {
  display: none;
}
.cmp-header__navbartop .cmp-navbartop__link.icon--subscriptions {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  font-size: 0px;
  line-height: 0px;
  letter-spacing: normal;
  font-style: normal;
  color: var(--text-color-default);
  text-decoration: none;
  text-align: center;
}
.cmp-header__navbartop .cmp-navbartop__link.icon--subscriptions::before {
  display: inline-block;
  content: "";
  width: 45px;
  height: 45px;
  background-color: var(--light-color);
  background-image: url("../../icons/icons.svg");
  background-repeat: no-repeat;
  -webkit-border-radius: 45px;
  border-radius: 45px;
  background-clip: padding-box;
  /* stops bg color from leaking outside the border: */
  background-position: -168px 7px;
}
.cmp-header__main {
  padding-top: 20px;
  padding-bottom: 20px;
  z-index: 11;
}
.cmp-header__main .cmp-header-main__in {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin-left: -15px;
  margin-right: -15px;
}
.cmp-header__main .cmp-header-main__in .cmp-header-main__item {
  padding-left: 15px;
  padding-right: 15px;
}
.cmp-header__main .cmp-header-main__in .cmp-header-main__item:nth-child(1) {
  display: flex;
  align-items: center;
}
.cmp-header__main .cmp-header-main__in .cmp-header-main__item:nth-child(1), .cmp-header__main .cmp-header-main__in .cmp-header-main__item:nth-child(3) {
  flex: 1 1 calc(100% / 4);
  width: calc(100% / 4);
  max-width: calc(100% / 4);
}
.cmp-header__main .cmp-header-main__in .cmp-header-main__item.logo-area {
  flex: 1 1 calc(100% / 2);
  width: calc(100% / 2);
  max-width: calc(100% / 2);
}
.cmp-header__main .cmp-magazine__preview {
  display: none;
  order: 2;
  padding-left: 20px;
}
.cmp-header__main .cmp-magazine__preview img {
  object-fit: contain;
}
.cmp-header__main .cmp-magazine__preview figcaption {
  padding-left: 15px;
}
.cmp-header__main .cmp-magazine__preview figcaption .cmp-magazine__title {
  font-size: 16px;
  line-height: 19.2px;
  letter-spacing: normal;
  font-style: normal;
  color: var(--dark-color);
  font-weight: var(--font-weight-bold);
  margin-bottom: 2px;
}
.cmp-header__main .cmp-magazine__preview figcaption .cmp-magazine__title a {
  font-size: inherit;
  font-weight: inherit;
  line-height: inherit;
  color: inherit;
  text-decoration: inherit;
  font-style: unset;
}
.cmp-header__main .cmp-magazine__preview figcaption .cmp-magazine__date {
  font-size: 13px;
  line-height: 15.6px;
  letter-spacing: normal;
  font-style: normal;
  color: var(--text-color-default);
  font-weight: var(--font-weight-regular);
  font-family: var(--en-font-primary);
  margin-bottom: 5px;
}
.cmp-header__main .cmp-magazine__preview figcaption .cmp-magazine__date time {
  font-size: inherit;
  font-weight: inherit;
  line-height: inherit;
  color: unset;
  text-decoration: unset;
  font-style: unset;
}
.cmp-header__main .cmp-magazine__preview figcaption .cmp-magazine__link-btn {
  font-size: 15px;
  line-height: 18px;
  letter-spacing: normal;
  font-style: normal;
  display: inline-flex;
  font-family: var(--en-font-primary);
  color: var(--text-color-default);
  align-items: center;
  justify-content: center;
  text-decoration: none;
}
.cmp-header__main .cmp-magazine__preview figcaption .cmp-magazine__link-btn:hover, .cmp-header__main .cmp-magazine__preview figcaption .cmp-magazine__link-btn:focus {
  color: var(--primary-color);
}
.cmp-header__main .cmp-magazine__preview figcaption .cmp-magazine__link-btn.with--arrow {
  position: relative;
  padding-right: 30px;
  min-height: 30px;
}
.cmp-header__main .cmp-magazine__preview figcaption .cmp-magazine__link-btn.with--arrow:after {
  position: absolute;
  content: "";
  display: block;
  width: 30px;
  height: 30px;
  right: 0;
  top: 0;
  background-image: url("../../icons/icons.svg");
  background-repeat: no-repeat;
  background-position: -315px -35px;
  -webkit-transition: all 0.4s ease;
  -moz-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  transition: all 0.4s ease;
  transform: translateX(0);
}
.cmp-header__main .cmp-magazine__preview figcaption .cmp-magazine__link-btn.with--arrow:hover:after, .cmp-header__main .cmp-magazine__preview figcaption .cmp-magazine__link-btn.with--arrow:focus:after {
  transform: translateX(5px);
}
.cmp-header__main .toogle-nav {
  order: 1;
  display: block;
  flex: 0 0 30px;
  max-width: 30px;
  width: 30px;
  height: 30px;
  background-color: transparent;
  background-image: url("../../icons/icons.svg");
  background-repeat: no-repeat;
  background-position: -140px 0px;
  border: 0;
  outline: none;
  cursor: pointer;
  padding: 0;
}
@media only screen and (min-width: 992px) {
  .cmp-header__main .cmp-magazine__preview {
    display: flex;
    min-width: 250px;
  }
  .cmp-header__main .cmp-header__navbartop .cmp-navbartop__item .cmp-navbartop__link.icon--subscriptions {
    font-size: 14px;
    line-height: 16.8px;
    letter-spacing: normal;
    font-style: normal;
  }
  .cmp-header__main .cmp-header__navbartop .cmp-navbartop__item .cmp-navbartop__link.icon--subscriptions::before {
    width: 35px;
    height: 35px;
    -webkit-border-radius: 35px;
    border-radius: 35px;
    background-clip: padding-box;
    /* stops bg color from leaking outside the border: */
    background-position: -172px 3px;
    margin-bottom: 5px;
  }
}
.cmp-header__bottom {
  position: relative;
  border: 1px solid var(--border-color);
  border-right: 0;
  border-left: 0;
  overflow: hidden;
  overflow-x: auto;
  animation-duration: 0.5s;
  transition: 0.5s;
  transform: translateY(0);
  min-height: 50px;
}
@media only screen and (min-width: 992px) {
  .cmp-header__bottom {
    min-height: 49px;
  }
}
@media only screen and (min-width: 1200px) {
  .cmp-header__bottom {
    min-height: 51px;
  }
}
.cmp-header__bottom .main-nav__in {
  position: relative;
  display: flex;
}
.cmp-header__bottom .main-nav__ul,
.cmp-header__bottom .main-nav .ext-nav__ul {
  display: flex;
}
.cmp-header__bottom .main-nav__li {
  display: flex;
  min-height: 48px;
}
@media only screen and (min-width: 992px) {
  .cmp-header__bottom .main-nav__li {
    min-height: 47px;
  }
}
@media only screen and (min-width: 1200px) {
  .cmp-header__bottom .main-nav__li {
    min-height: 49px;
  }
}
.cmp-header__bottom .main-nav__li:not(:last-child) {
  border-right: 1px solid var(--border-color);
}
.cmp-header__bottom .main-nav__a {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 15px;
  line-height: 18px;
  letter-spacing: normal;
  font-style: normal;
  color: var(--text-color-default);
  font-family: var(--en-font-primary);
  text-decoration: none;
  cursor: pointer;
  padding: 15px;
  text-align: center;
  white-space: nowrap;
}
@media only screen and (min-width: 992px) {
  .cmp-header__bottom .main-nav__a {
    padding-left: 10px;
    padding-right: 10px;
    font-size: 14px;
    line-height: 16.8px;
    letter-spacing: normal;
    font-style: normal;
  }
}
@media only screen and (min-width: 1200px) {
  .cmp-header__bottom .main-nav__a {
    padding-left: 15px;
    padding-right: 15px;
    font-size: 16px;
    line-height: 19.2px;
    letter-spacing: normal;
    font-style: normal;
  }
}
.cmp-header__bottom .main-nav__ul .main-nav__li:first-child .main-nav__a {
  padding-left: 0;
}
.cmp-header__bottom .main-nav .ext-nav__ul .main-nav__li:first-child {
  border-left: 1px solid var(--border-color-lite);
}
.cmp-header__bottom .main-nav .ext-nav__ul .main-nav__li:not(:last-child) {
  border-right-color: var(--border-color-lite);
}
.cmp-header__bottom .main-nav .ext-nav__ul .main-nav__li .main-nav__a {
  color: var(--text-color-default);
}

/* header end */
.section-wrapper {
  position: relative;
  padding-top: 30px;
  padding-bottom: 30px;
  clear: both;
}
.section-wrapper::after, .section-wrapper::before {
  content: "";
  clear: both;
  display: table;
}

.row-ctrl.parsys {
  position: relative;
  padding-top: 30px;
  padding-bottom: 30px;
  margin-bottom: 0;
  clear: both;
}
.row-ctrl.parsys::after, .row-ctrl.parsys::before {
  content: "";
  clear: both;
  display: table;
}
.row-ctrl.parsys .section-wrapper {
  position: unset;
  padding-top: 0;
  padding-bottom: 0;
}
.row-ctrl.parsys .section-wrapper .astroprediction {
  margin-bottom: 0;
}
.row-ctrl.parsys .section-wrapper::after, .row-ctrl.parsys .section-wrapper::before {
  display: none;
}
.row-ctrl.parsys .section-wrapper .section-wrapper {
  position: unset;
  padding-bottom: 0;
  padding-top: 0;
}
.row-ctrl.parsys .insta__list {
  padding-bottom: 0;
}

.container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}
@media only screen and (min-width: 576px) {
  .container {
    max-width: 540px;
  }
}
@media only screen and (min-width: 768px) {
  .container {
    max-width: 720px;
  }
}
@media only screen and (min-width: 992px) {
  .container {
    max-width: 960px;
  }
}
@media only screen and (min-width: 1200px) {
  .container {
    max-width: 1172px;
  }
}
@media only screen and (min-width: 1400px) {
  .container {
    max-width: 1310px;
  }
}
.container .container {
  margin-right: unset;
  margin-left: unset;
  max-width: unset;
  padding-left: unset;
  padding-right: unset;
}

.pb-0 .section-wrapper {
  padding-bottom: 0;
}

.pt-0 .section-wrapper {
  padding-top: 0;
}

/* breadcrumb start */
.comp-header__breadcrumb {
  padding-bottom: 20px;
  border-bottom: 1px solid var(--border-color);
}
@media only screen and (min-width: 400px) {
  .comp-header__breadcrumb {
    padding-bottom: 10px;
  }
}
.comp-header__breadcrumb ul {
  display: flex;
  flex-wrap: wrap;
}
.comp-header__breadcrumb li {
  display: flex;
  align-items: center;
}
.comp-header__breadcrumb li a {
  font-size: 13px;
  line-height: 15.6px;
  letter-spacing: normal;
  font-style: normal;
  color: var(--breadcrumb-default-color);
  text-decoration: none;
  font-family: var(--en-font-primary);
  white-space: nowrap;
}
.comp-header__breadcrumb li a:hover {
  color: var(--breadcrumb-hover-color);
}
.comp-header__breadcrumb li span {
  font-family: var(--font-secondary);
  font-size: 15px;
  line-height: 18px;
  letter-spacing: normal;
  font-style: normal;
  color: var(--breadcrumb-active-color);
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  display: inline-block;
  max-width: 81vw;
}
.comp-header__breadcrumb li:not(:last-child) {
  margin-bottom: 0 !important;
}

/* breadcrumb end */
.article-content-block .article-header {
  display: flex;
  flex-direction: column;
}
.article-content-block .article-header .article-header__action-block-2,
.article-content-block .article-header .article-header__advtBlock,
.article-content-block .article-header .article-header__highlight-block,
.article-content-block .article-header .cmp-container {
  display: none;
}
.article-content-block .article-header .article-header__title-block,
.article-content-block .article-header .article-header__author-block,
.article-content-block .article-header .article-header__action-block-2,
.article-content-block .article-header .article-header__highlight-block,
.article-content-block .article-header .article-header__photo-block,
.article-content-block .article-header .article-header__advtBlock {
  flex: 1 1 100%;
  width: 100%;
  max-width: 100%;
}
.article-content-block .article-header .article-header__title-block {
  display: flex;
  align-items: center;
  justify-content: center;
  order: 1;
  min-height: 141px;
}
@media only screen and (min-width: 768px) {
  .article-content-block .article-header .article-header__title-block {
    min-height: 123px;
  }
}
.article-content-block .article-header .article-header__title-block .article-header__title {
  font-style: normal;
  font-size: 35px;
  line-height: 42px;
  letter-spacing: normal;
  font-style: normal;
  font-weight: var(--font-weight-bold);
  font-family: var(--font-primary);
  font-weight: var(--font-weight-regular);
  padding-bottom: 15px;
  margin: 0;
  text-align: center;
}
@media only screen and (min-width: 768px) {
  .article-content-block .article-header .article-header__title-block .article-header__title {
    font-size: 45px;
    line-height: 54px;
    letter-spacing: normal;
    font-style: normal;
  }
}
.article-content-block .article-header .article-header__author-block {
  order: 2;
  padding-top: 15px;
  padding-bottom: 15px;
  border-top: 1px solid var(--border-color);
  border-bottom: 1px solid var(--border-color);
  min-height: 112px;
}
.article-content-block .article-header .article-header__author-block .article-header__author-block-in {
  display: flex;
  flex-wrap: wrap;
  margin-left: -15px;
  margin-right: -15px;
}
.article-content-block .article-header .article-header__author-block .article-header__author-block-in .article-header__author-block-left,
.article-content-block .article-header .article-header__author-block .article-header__author-block-in .article-header__author-block-right {
  flex: 1 1 100%;
  width: 100%;
  max-width: 100%;
  padding-left: 15px;
  padding-right: 15px;
}
.article-content-block .article-header .article-header__author-block .article-header__author-block-in .article-header__author-block-left .mm-btn,
.article-content-block .article-header .article-header__author-block .article-header__author-block-in .article-header__author-block-right .mm-btn {
  margin-top: 15px;
}
.article-content-block .article-header .article-header__author-block .article-header__author-block-in .article-header__author-block-right {
  text-align: center;
}
@media only screen and (min-width: 480px) {
  .article-content-block .article-header .article-header__author-block .article-header__author-block-in .article-header__author-block-left {
    flex: 1 1 66.66666667%;
    width: 66.66666667%;
  }
  .article-content-block .article-header .article-header__author-block .article-header__author-block-in .article-header__author-block-right {
    flex: 1 1 33.33333333%;
    width: 33.33333333%;
    align-self: center;
    text-align: right;
  }
  .article-content-block .article-header .article-header__author-block .article-header__author-block-in .article-header__author-block-right .mm-btn {
    margin-top: 0;
  }
}
.article-content-block .article-header .article-header__author-block .article-header__author-block-in .article-header__author-block-left {
  display: flex;
  align-items: center;
}
.article-content-block .article-header .article-header__author-block .article-header__author-block-in .article-header__author-block-left .article-header__author-image {
  flex: 1 0 55px;
  width: 55px;
  max-width: 55px;
}
.article-content-block .article-header .article-header__author-block .article-header__author-block-in .article-header__author-block-left .article-header__author-image img {
  width: 55px;
  height: 55px;
  border-radius: 55px;
}
.article-content-block .article-header .article-header__author-block .article-header__author-block-in .article-header__author-block-left .article-header__author-dispn {
  flex: 1 1 100%;
  width: 100%;
  padding-left: 15px;
}
.article-content-block .article-header .article-header__author-block .article-header__author-block-in .article-header__author-block-left .article-header__author-dispn .article-header__author-name {
  font-family: var(--font-secondary);
  font-weight: var(--font-weight-regular);
  font-size: 22px;
  line-height: 22px;
  letter-spacing: normal;
  font-style: normal;
  color: var(--text-color-default);
  text-transform: capitalize;
  font-weight: var(--font-weight-bold);
}
.article-content-block .article-header .article-header__author-block .article-header__author-block-in .article-header__author-block-left .article-header__author-dispn .article-header__author-name a {
  font-size: inherit;
  font-weight: inherit;
  line-height: inherit;
  color: inherit;
  text-decoration: inherit;
  font-style: unset;
}
.article-content-block .article-header .article-header__author-block .article-header__author-block-in .article-header__author-block-left .article-header__author-dispn .article-header__author-name + .article-header__author-dispn-btm {
  margin-top: 5px;
}
.article-content-block .article-header .article-header__author-block .article-header__author-block-in .article-header__author-block-left .article-header__author-dispn .article-header__author-dispn-btm .article-header__published-date,
.article-content-block .article-header .article-header__author-block .article-header__author-block-in .article-header__author-block-left .article-header__author-dispn .article-header__author-dispn-btm .article-header__read-time {
  font-family: var(--basic-fonts-pack);
  font-weight: var(--font-weight-regular);
  font-size: 12px;
  line-height: 14.4px;
  letter-spacing: normal;
  font-style: normal;
  color: var(--text-color-default);
  margin-bottom: 0;
}
.article-content-block .article-header .article-header__author-block .article-header__author-block-in .article-header__author-block-left .article-header__author-dispn .article-header__author-dispn-btm .article-header__published-date,
.article-content-block .article-header .article-header__author-block .article-header__author-block-in .article-header__author-block-left .article-header__author-dispn .article-header__author-dispn-btm .story-publish-date {
  margin-bottom: 5px;
}
.article-content-block .article-header .article-header__author-block .article-header__author-block-in .article-header__author-block-left .article-header__author-dispn .article-header__author-dispn-btm .story-publish-date,
.article-content-block .article-header .article-header__author-block .article-header__author-block-in .article-header__author-block-left .article-header__author-dispn .article-header__author-dispn-btm .story-updated-date {
  display: block;
}
@media only screen and (min-width: 768px) {
  .article-content-block .article-header .article-header__author-block .article-header__author-block-in .article-header__author-block-left .article-header__author-dispn .article-header__author-dispn-btm .article-header__published-date,
.article-content-block .article-header .article-header__author-block .article-header__author-block-in .article-header__author-block-left .article-header__author-dispn .article-header__author-dispn-btm .article-header__read-time,
.article-content-block .article-header .article-header__author-block .article-header__author-block-in .article-header__author-block-left .article-header__author-dispn .article-header__author-dispn-btm .story-publish-date,
.article-content-block .article-header .article-header__author-block .article-header__author-block-in .article-header__author-block-left .article-header__author-dispn .article-header__author-dispn-btm .story-updated-date {
    display: inline-block;
    vertical-align: middle;
    margin-bottom: 0;
  }
  .article-content-block .article-header .article-header__author-block .article-header__author-block-in .article-header__author-block-left .article-header__author-dispn .article-header__author-dispn-btm .article-header__published-date,
.article-content-block .article-header .article-header__author-block .article-header__author-block-in .article-header__author-block-left .article-header__author-dispn .article-header__author-dispn-btm .story-publish-date {
    margin-right: 5px;
  }
  .article-content-block .article-header .article-header__author-block .article-header__author-block-in .article-header__author-block-left .article-header__author-dispn .article-header__author-dispn-btm .article-header__read-time,
.article-content-block .article-header .article-header__author-block .article-header__author-block-in .article-header__author-block-left .article-header__author-dispn .article-header__author-dispn-btm .story-updated-date {
    padding-left: 8px;
    border-left: 2px solid var(--border-color);
  }
}
.article-content-block .article-header .article-header__author-block .article-header__author-block-in .article-header__author-block-right .readin-english-btn-wrp .mm-btn {
  position: relative;
  border: 1px solid;
  background-color: var(--dark-color);
  border-color: var(--dark-color);
  min-height: 37px;
  padding: 9.26px 13.33px 9.26px 13.33px;
  font-size: 14px;
  line-height: 16.8px;
  letter-spacing: normal;
  font-style: normal;
  font-family: var(--en-font-primary);
  color: var(--white-color);
  -webkit-transition: all 0.4s ease;
  -moz-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  transition: all 0.4s ease;
  text-decoration: none;
  cursor: pointer;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  background-clip: padding-box;
  /* stops bg color from leaking outside the border: */
}
.article-content-block .article-header .article-header__author-block .article-header__author-block-in .article-header__author-block-right .readin-english-btn-wrp .mm-btn:hover, .article-content-block .article-header .article-header__author-block .article-header__author-block-in .article-header__author-block-right .readin-english-btn-wrp .mm-btn:focus, .article-content-block .article-header .article-header__author-block .article-header__author-block-in .article-header__author-block-right .readin-english-btn-wrp .mm-btn:active {
  background-color: var(--primary-color);
  border-color: var(--primary-color);
}
@media only screen and (min-width: 992px) {
  .article-content-block .article-header .article-header__author-block {
    min-height: 87px;
  }
}
.article-content-block .article-header .article-header__photo-block {
  position: relative;
  order: 3;
}
.article-content-block .article-header .article-header__photo-block .cmp-story-figure .cmp-story-figure__in .cmp-story-figure__image .cmp-story-figure__web-image {
  position: relative;
  padding-top: 52.0833333333%;
  background-color: var(--light-color);
}
.article-content-block .article-header .article-header__photo-block .cmp-story-figure .cmp-story-figure__in .cmp-story-figure__image .cmp-story-figure__web-image img {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  background-clip: padding-box;
  /* stops bg color from leaking outside the border: */
  text-align: center;
  vertical-align: middle;
  object-fit: cover;
  object-position: center;
}
.article-content-block .article-header .article-header__photo-block .cmp-story-figure .cmp-story-figure__in .cmp-story-figure__caption {
  font-family: var(--font-secondary);
  font-size: 20px;
  line-height: 24px;
  letter-spacing: normal;
  font-style: normal;
  font-weight: var(--font-weight-regular);
  color: var(--text-color-caption);
  padding-top: 15px;
  padding-bottom: 15px;
  border-bottom: 1px solid var(--border-color);
  text-align: center;
}
@media only screen and (min-width: 576px) {
  .article-content-block .article-header .article-header__photo-block .cmp-story-figure .cmp-story-figure__in .cmp-story-figure__caption {
    font-size: 23px;
    line-height: 27.6px;
    letter-spacing: normal;
    font-style: normal;
  }
}

.articlecontent {
  width: 100%;
  padding: 30px 15px;
  margin-right: auto;
  margin-left: auto;
  overflow: hidden;
}
@media only screen and (min-width: 576px) {
  .articlecontent {
    max-width: 540px;
    overflow: visible;
  }
}
@media only screen and (min-width: 768px) {
  .articlecontent {
    max-width: 720px;
  }
}
@media only screen and (min-width: 992px) {
  .articlecontent {
    max-width: 960px;
  }
}
@media only screen and (min-width: 1200px) {
  .articlecontent {
    max-width: 1172px;
  }
}
@media only screen and (min-width: 1400px) {
  .articlecontent {
    max-width: 1278px;
  }
}
.articlecontent .container,
.articlecontent .articlecontent {
  margin-right: unset;
  margin-left: unset;
  max-width: unset;
  padding-left: unset;
  padding-right: unset;
}
