@font-face {
    font-family: Merriweather;
    src: url("../fonts/Merriweather-Regular.woff") format("woff");
    font-weight: normal;
    font-style: normal;
    font-display: swap
}

@font-face {
    font-family: Merriweather;
    src: url("../fonts/Merriweather-Bold.woff") format("woff");
    font-weight: bold;
    font-style: normal;
    font-display: swap
}

@font-face {
    font-family: PanchariUni;
    src: url("../fonts/PanchariUN.woff") format("woff");
    font-weight: normal;
    font-style: normal;
    font-display: swap
}

@font-face {
    font-family: PanchariUni;
    src: url("../fonts/PanchariUB.woff") format("woff");
    font-weight: bold;
    font-style: normal;
    font-display: swap
}

@font-face {
    font-family: EGGIndulekhaUni;
    src: url("../fonts/EGGIndulekha.woff") format("woff");
    font-weight: 400;
    font-style: normal;
    font-display: swap
}

:root {
    --en-font-primary: Merriweather;
    --font-primary: EGGIndulekhaUni;
    --font-secondary: PanchariUni;
    --basic-heading-fonts-pack: var(--en-font-primary), var(--font-primary), Arial, Helvetica, sans-serif;
    --basic-fonts-pack: Arial, var(--font-secondary), var(--font-primary), var(--en-font-primary), Helvetica, sans-serif;
    --font-weight-regular: normal;
    --font-weight-bold: bold
}